
M&R/.Rhistory
UPJV_SLR/.Rhistory
SMM4H/.Rhistory
PSL_Week/_extensions/.DS_Store
PSL_Week/data/corpus_cleaned_ner.csv
# Ignore internal drafts/notes in GovReg documents, but publish the linked talk PDF
/GovReg_Internal_Seminar/documents/*
!/GovReg_Internal_Seminar/documents/new_presentation.pdf
.DS_Store
PSL_Week/demo.ipynb
PSL_Week/demo.ipynb
